html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    height: 100px;
}

footer {
    height: 50px;
}

/*  */
/*  */
/*  */
/*  */
/*  */

@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}

/* CSS rule to style the mobile logo */
.logo {
margin-top: 3px;
}

.logo h1 {
font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
font-size: 31px;
margin: 0;
margin-top: -10px;
margin-bottom: -15px;
float: left;
padding-top: 0px;
padding-left: 0px;
padding-right: 2px;
}

.logo h2 {
font-family: cocaColaFont;
font-size: 31px;
margin-top: -6px;
margin-bottom: -15px;
padding-top: 0px;
padding-left: 0px;
padding-right: 3px;
float: left;
}

.logo h3 {
font-size: 18px;
margin-top: 0px;
margin-bottom: -5px;
padding-top: 0px;
padding-left: 0px;
float: left;
}

.logo p {
font-size: 7px; /* You may have to tweak this to get a good fit */
margin-top: 22px; /* You may have to tweak this to get a good fit */
margin-bottom: 0px;
padding-top: 0px;
padding-left: 3px;
}

/* New CSS rules to better position the navbar and increase its height, Bootstrap defaults tend to make your site look like a Bootstrap clone! 
*/

/* CSS rule to overwrite the navbar background and border color — again, helps to stop your site looking like a Bootstrap clone! 
*/
.navbar_coca_cola {
    background-color: #760003; /* Set navbar background color */
    /* border-color: yellow; Sets the navbar border color */
    /* border-style: solid; */
    border-width: 0px;
    min-height: 70px;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
}
    
/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_coca_cola .navbar-brand:hover {
    color: green;
}

/* NAVIGATION MENU
*/

/* CSS rules to overwrite the position of the Bootstrap menu These are derived from the Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU  

There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
*/
.navbar_coca_cola .navbar-nav > li > a {
    color: white;  
}

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: green;  
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}

/* CSS rule to overwrite the bootstrap.css rules for setting the active font color and background colour
*/
.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color:  #760003; /* Font color for active font */
    background-color: #3399ff; /* Blue color for background */
}

/* A set of CSS rules to change the Bootstrap defaults for the menu link text color, hover, background, focus
*/
    
/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: green;  
}

/* These next two CSS rules control the style of the icon bar */
.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}



.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: black; 
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}

.camera-btns > p  {
    font-size: 15px;
    color: red;
    padding: 5px 0px;
    font-weight: 900; 
}

.camera-font {
    font-weight: 400;   
    color: white;
}

.camera-font:hover {
    font-weight: 700;   
    color: rgb(3, 3, 3);
}

.btn-responsive {
    padding: 4px 9px;
    font-size: 60%;
    line-height: 1.2;
    white-space: normal !important;
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
    color: green;
    border: 1px solid transparent;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
}

X3D, x3d {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
    
}